@font-face {
  font-family: "Resident Evil 7(RUS BY LYAJKA)";
  src: url("../fonts/Resident Evil.otf");
  font-weight: 400;
  font-style: regular;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Light.eot");
  src: url("../fonts/ProximaNova-Light.eot?iefix") format("eot");
  src: url("../fonts/ProximaNova-Light.woff") format("woff");
  src: url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?iefix") format("eot");
  src: url("../fonts/ProximaNova-Regular.woff") format("woff");
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: regular;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?iefix") format("eot");
  src: url("../fonts/ProximaNova-Bold.woff") format("woff");
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Godzilla";
  src: url("../fonts/Godzilla.ttf") format("truetype");
  font-weight: 400;
  font-style: regular;
}
p {
  margin: 0;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

button {
  padding: 0;
  background: none;
  border: none;
}

html {
  font-size: 37.5%;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 50%;
  }
}
@media screen and (min-width: 1920px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "ProximaNova", Arial, open-sans;
  font-size: 3.2rem;
  color: #fff;
  margin: 0;
  background: #000;
}

.page {
  background: #000;
  user-select: none;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
}

.title {
  font-family: "Resident Evil 7(RUS BY LYAJKA)", Arial, open-sans;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
}
.title span {
  color: #CE0000;
}
.title--small {
  font-size: 6.7rem;
  line-height: 1.2;
}
.title--middle {
  font-size: 26px;
  line-height: 1;
  letter-spacing: 1.3px;
}
@media screen and (min-width: 768px) {
  .title--middle {
    font-size: 7rem;
    line-height: 1.2;
  }
}
.title--big {
  font-size: 30px;
  line-height: 1;
  letter-spacing: 2.2px;
}
@media screen and (min-width: 768px) {
  .title--big {
    font-size: 10.1rem;
    line-height: 1.2;
  }
}
.title--red {
  color: #F32A2A;
}
.title--blue {
  color: #1212EB;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.btn {
  display: block;
  font-family: "Resident Evil 7(RUS BY LYAJKA)", Arial, open-sans;
  text-transform: uppercase;
  position: relative;
  transform: scale(0.5);
}
@media screen and (min-width: 768px) {
  .btn {
    transform: scale(0.75);
  }
}
@media screen and (min-width: 1920px) {
  .btn {
    transform: none;
  }
}
.btn--small {
  width: 330px;
  height: 104px;
  line-height: 1.06;
  font-size: 76px;
  letter-spacing: -1px;
}
.btn--small:before {
  content: "";
  position: absolute;
  width: 893px;
  height: 514px;
  top: -208px;
  left: -180px;
  z-index: 1;
  background-size: inherit;
  background: url("../img/button-small-smoke.png") no-repeat;
  cursor: default;
}
.btn--small:after {
  content: "";
  position: absolute;
  width: 378px;
  height: 216px;
  top: -47px;
  left: -6px;
  z-index: 2;
  background-size: inherit;
  background: url("../img/button-small-fire.png") no-repeat;
  cursor: default;
}
.btn--small .btn__inner {
  padding-bottom: 9px;
  background: url("../img/button-small.png") 100% 100% no-repeat;
}
.btn--middle {
  width: 363px;
  height: 115px;
  font-size: 74px;
  line-height: 1.06;
}
.btn--middle .btn__inner {
  padding-bottom: 10px;
  background: url("../img/button-middle.png") 100% 100% no-repeat;
}
.btn--big {
  width: 427px;
  height: 135px;
  font-size: 82px;
  line-height: 1.2;
  margin-left: -103px;
  margin-top: -100px;
}
@media screen and (min-width: 768px) {
  .btn--big {
    margin-left: -53px;
    margin-top: -43px;
  }
}
@media screen and (min-width: 1920px) {
  .btn--big {
    margin: 0;
  }
}
.btn--big:before {
  content: "";
  position: absolute;
  width: 470px;
  height: 268px;
  top: -55px;
  left: -1px;
  z-index: 1;
  background-size: inherit;
  background: url("../img/button-big-fire.png") no-repeat;
  cursor: default;
}
.btn--big .btn__inner {
  padding-bottom: 15px;
  background: url("../img/button-big.png") 100% 100% no-repeat;
}

.btn__inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  position: relative;
  text-decoration: none;
  color: #000;
  z-index: 3;
  box-sizing: border-box;
}

.header {
  padding: 20px 20px 100px;
  background-size: inherit;
  background: url("../img/header-people.png") no-repeat 50% 380px, url("../img/header-dust.png") no-repeat 0 0, url("../img/header-smoke.png") no-repeat right 97%, url("../img/header-people-dust.png") no-repeat -185px -136px;
  background-size: 50%;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 50px 50px 200px;
    background: url("../img/header-people.png") no-repeat 88% 158px, url("../img/header-dust.png") no-repeat 0 0, url("../img/header-smoke.png") no-repeat 85% 590px, url("../img/header-people-dust.png") no-repeat -185px -136px;
    background-size: 30%;
  }
}
@media screen and (min-width: 1920px) {
  .header {
    padding: 70px 85px 580px;
    background: url("../img/header-people.png") no-repeat 88% 158px, url("../img/header-dust.png") no-repeat 0 0, url("../img/header-smoke.png") no-repeat right 97%, url("../img/header-people-dust.png") no-repeat -185px -136px;
    background-size: unset;
  }
}

.owner {
  display: block;
  max-width: 300px;
  user-select: text;
  text-align: center;
  margin: 0 auto 100px;
}
@media screen and (min-width: 768px) {
  .owner {
    margin: 0;
    margin-bottom: 200px;
    max-width: 519px;
    text-align: left;
  }
}
@media screen and (min-width: 1920px) {
  .owner {
    margin-bottom: 325px;
  }
}

.header__title {
  max-width: 860px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header__title {
    margin-left: 100px;
    text-align: left;
  }
}
@media screen and (min-width: 1920px) {
  .header__title {
    margin-bottom: 80px;
  }
}

.header__label {
  display: block;
  max-width: 300px;
  margin: 0 auto 410px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header__label {
    margin: 0;
    margin-left: 95px;
    margin-bottom: 50px;
    max-width: 635px;
    text-align: left;
  }
}
@media screen and (min-width: 1920px) {
  .header__label {
    margin-bottom: 100px;
  }
}

.header__btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
}
@media screen and (min-width: 768px) {
  .header__btn {
    margin-left: 55px;
    margin-top: -15px;
    margin-right: unset;
  }
}
@media screen and (min-width: 1920px) {
  .header__btn {
    margin-top: 0;
  }
}

.sins {
  margin-top: -40px;
  background: url("../img/sins-bg.png") no-repeat 50% 50px;
  background-size: auto 1441px;
  position: relative;
  overflow: hidden;
}

.sins__title {
  max-width: 1267px;
  margin-bottom: 40px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 768px) {
  .sins__title {
    margin: 0 auto 88px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 6rem;
  }
}
@media screen and (min-width: 1920px) {
  .sins__title {
    padding: 0;
    font-size: 10.1rem;
  }
}

.sins__label {
  max-width: 920px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 95px;
}
@media screen and (min-width: 768px) {
  .sins__label {
    margin-left: 50px;
    margin-right: 0;
  }
}
@media screen and (min-width: 1920px) {
  .sins__label {
    margin-left: 184px;
  }
}

.sins__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .sins__content {
    margin-left: 92px;
    margin-right: 92px;
    margin-bottom: 400px;
  }
}
@media screen and (min-width: 1080px) {
  .sins__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1920px) {
  .sins__content {
    margin-right: 340px;
    margin-left: 184px;
  }
}

.sins__list {
  display: flex;
  width: 100%;
  font-family: "Resident Evil 7(RUS BY LYAJKA)", Arial, open-sans;
  text-transform: uppercase;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin: 8px 0 100px;
  box-sizing: border-box;
}
@media screen and (min-width: 768px) {
  .sins__list {
    margin-bottom: 120px;
    padding-left: 0;
    padding-right: 0;
    box-sizing: content-box;
  }
}
@media screen and (min-width: 1080px) {
  .sins__list {
    width: auto;
    flex-direction: column;
    padding-left: 170px;
    justify-content: flex-start;
    margin-bottom: 170px;
  }
}

.sins__item {
  font-size: 6.7rem;
  line-height: 1.2;
  position: relative;
  padding: 135px 5px 0;
}
@media screen and (min-width: 768px) {
  .sins__item {
    padding: 188px 33px 0;
  }
}
@media screen and (min-width: 1080px) {
  .sins__item {
    margin-bottom: 115px;
    padding: 0;
  }
}
.sins__item:before {
  content: "";
  position: absolute;
  bottom: 30px;
}
@media screen and (min-width: 768px) {
  .sins__item:before {
    bottom: 60px;
  }
}
@media screen and (min-width: 1080px) {
  .sins__item:before {
    top: 50%;
  }
}
.sins__item:last-child {
  margin-bottom: 0;
}
.sins__item--genius:before {
  width: 109px;
  height: 166px;
  right: 50%;
  transform: translateX(50%) scale(0.75);
  background: url("../img/genius.png") 100% 100% no-repeat;
}
@media screen and (min-width: 768px) {
  .sins__item--genius:before {
    transform: translateX(50%);
  }
}
@media screen and (min-width: 1080px) {
  .sins__item--genius:before {
    width: 109px;
    height: 166px;
    right: calc(100% + 60px);
    background: url("../img/genius.png") 100% 100% no-repeat;
    transform: translateY(-50%);
  }
}
.sins__item--leader:before {
  width: 146px;
  height: 188px;
  right: 50%;
  transform: translateX(50%) scale(0.75);
  background: url("../img/leader.png") 100% 100% no-repeat;
}
@media screen and (min-width: 768px) {
  .sins__item--leader:before {
    transform: translateX(50%);
  }
}
@media screen and (min-width: 1080px) {
  .sins__item--leader:before {
    width: 146px;
    height: 188px;
    right: calc(100% + 43px);
    background: url("../img/leader.png") 100% 100% no-repeat;
    transform: translateY(-50%);
  }
}
.sins__item--innovator:before {
  width: 259px;
  height: 162px;
  right: 50%;
  transform: translateX(50%) scale(0.75);
  background: url("../img/innovator.png") 100% 100% no-repeat;
}
@media screen and (min-width: 768px) {
  .sins__item--innovator:before {
    transform: translateX(50%);
  }
}
@media screen and (min-width: 1080px) {
  .sins__item--innovator:before {
    width: 259px;
    height: 162px;
    right: 99%;
    background: url("../img/innovator.png") 100% 100% no-repeat;
    transform: translateY(-50%);
  }
}

.sins__advice {
  width: 533px;
  padding: 30px 250px 30px 20px;
  box-sizing: border-box;
  background: url("../img/advice-bg.png") no-repeat 0 50%;
  background-size: 883px auto;
  font-size: 2.2rem;
  line-height: 1.86;
  color: #000;
  position: relative;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
}
@media screen and (min-width: 768px) {
  .sins__advice {
    width: 883px;
    border-radius: 45px;
    padding-right: 345px;
  }
}
@media screen and (min-width: 1080px) {
  .sins__advice {
    flex-shrink: 0;
  }
}
.sins__advice:after {
  content: "";
  position: absolute;
  width: 245px;
  height: 363px;
  right: 0;
  top: -38px;
  background: url("../img/sins-people.png") no-repeat;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .sins__advice:after {
    width: 735px;
    height: 1089px;
    left: 485px;
    top: -300px;
    right: unset;
  }
}

.sins__subtitle {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .sins__subtitle {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1920px) {
  .sins__subtitle {
    margin-left: 206px;
    margin-bottom: 100px;
    padding: 0;
  }
}

.slider {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  animation: slider-anim 15s infinite ease;
  left: -123px;
}

@keyframes slider-anim {
  0% {
    left: -123px;
  }
  20% {
    left: -312px;
  }
  40% {
    left: -624px;
  }
  60% {
    left: -312px;
  }
  80% {
    left: 0;
  }
  100% {
    left: -123px;
  }
}
.slider-item {
  width: 398px;
  height: 78px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-top: 15px;
  padding-right: 65px;
  font-family: "Resident Evil 7(RUS BY LYAJKA)", Arial, open-sans;
  font-size: 5.6rem;
  line-height: 1.2;
  text-transform: uppercase;
  background: url("../img/sins-blood.png") no-repeat;
  background-size: contain;
  margin-right: 50px;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .slider-item {
    width: 598px;
    height: 117px;
    background-size: unset;
  }
}

.assist {
  padding: 100px 0 50px;
  background: url("../img/assist-smoke.png") no-repeat 0 0, url("../img/assist-bg-1.png") no-repeat 50% bottom, url("../img/assist-bg-2.png") no-repeat 50% 46px;
  background-size: auto, auto 1152px, auto 1152px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .assist {
    padding-top: 260px;
    padding-bottom: 380px;
    margin-bottom: 77px;
  }
}
@media screen and (min-width: 1920px) {
  .assist {
    background: url("../img/assist-people.png") no-repeat 0 130px, url("../img/assist-smoke.png") no-repeat 0 0, url("../img/assist-bg-1.png") no-repeat 50% bottom, url("../img/assist-bg-2.png") no-repeat 50% 46px;
    background-size: auto, auto, auto 1152px, auto 1152px;
  }
}

.assist__container {
  max-width: 926px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .assist__container {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 625px;
  }
}
@media screen and (min-width: 1920px) {
  .assist__container {
    margin-right: 85px;
    padding: 0;
    max-width: 926px;
  }
}
.assist__container:before {
  content: "";
  position: absolute;
  width: 796px;
  height: 1333px;
  background: url("../img/assist-people.png") no-repeat 0 0;
  z-index: 0;
  left: -750px;
}
@media screen and (min-width: 1920px) {
  .assist__container:before {
    display: none;
  }
}

.assist__title {
  margin-bottom: 50px;
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .assist__title {
    margin-bottom: 100px;
  }
}

.assist__text {
  margin-bottom: 130px;
  max-width: 515px;
}
@media screen and (min-width: 768px) {
  .assist__text {
    margin-bottom: 180px;
  }
}
@media screen and (min-width: 1920px) {
  .assist__text {
    max-width: unset;
  }
}

.iceberg {
  padding: 57px 20px 50px 20px;
  overflow: hidden;
  background: url("../img/iceberg-smoke.png") no-repeat 0 0, url("../img/iceberg-bg-1.png") no-repeat 50% 0, url("../img/iceberg-fish.png") no-repeat 0 bottom, url("../img/iceberg-shark.png") no-repeat right 640px, url("../img/iceberg-bg-2.png") no-repeat 50% 335px, url("../img/iceberg-bg-3.png") no-repeat 50% 422px, url("../img/iceberg-bg-4.png") no-repeat 50% bottom;
  background-blend-mode: exclusion;
  background-size: auto, auto 656px, auto, auto, auto 1140px, auto 1021px, auto 867px;
}
@media screen and (min-width: 768px) {
  .iceberg {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1920px) {
  .iceberg {
    padding-bottom: 211px;
    padding-left: 386px;
    padding-right: 0;
  }
}

.iceberg__title {
  max-width: 1170px;
  margin: 0 auto 50px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .iceberg__title {
    margin-bottom: 215px;
  }
}
@media screen and (min-width: 1920px) {
  .iceberg__title {
    margin: 0 auto 215px 36px;
    text-align: left;
  }
}

.iceberg__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 36px;
}
@media screen and (min-width: 768px) {
  .iceberg__inner {
    margin-bottom: 112px;
  }
}
@media screen and (min-width: 1920px) {
  .iceberg__inner {
    flex-wrap: nowrap;
  }
}

.iceberg__label {
  max-width: 422px;
  height: 151px;
  padding: 32px 10px 36px 18px;
  box-sizing: border-box;
  font-size: 2.8rem;
  line-height: 1.7;
  background: url("../img/iceberg-label-bg.png") no-repeat 0 50%;
  background-size: 422px auto;
  color: #000;
  border-radius: 11px;
}
@media screen and (min-width: 768px) {
  .iceberg__label {
    flex-shrink: 0;
  }
}

.iceberg__notice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 940px;
  margin-top: 36px;
  padding: 12px 20px 18px 20px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}
@media screen and (min-width: 768px) {
  .iceberg__notice {
    margin-left: 100px;
  }
}
@media screen and (min-width: 1920px) {
  .iceberg__notice {
    flex-shrink: 0;
    height: 317px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 170px;
    padding-right: 0;
  }
}

.iceberg__notice-column {
  flex-shrink: 0;
}
.iceberg__notice-column:first-child {
  max-width: 765px;
}
.iceberg__notice-column:last-child {
  max-width: 748px;
  margin-left: 40px;
}

.iceberg__label--bottom {
  margin-left: auto;
  margin-bottom: 72px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .iceberg__label--bottom {
    margin-right: 400px;
  }
}
.iceberg__label--bottom:before {
  content: "";
  position: absolute;
  width: 432px;
  height: 228px;
  top: 63px;
  left: -21px;
  transform: translateX(-100%);
  background: url("../img/iceberg-line.png") no-repeat;
}
.iceberg__label--bottom:after {
  content: "";
  position: absolute;
  width: 323px;
  height: 323px;
  top: 110px;
  left: -327px;
  transform: translateX(-100%);
  background: url("../img/iceberg-light.png") no-repeat;
}

.iceberg__text {
  font-size: 3.3rem;
  line-height: 1.18;
  margin: 0 20px;
}
@media screen and (min-width: 768px) {
  .iceberg__text {
    margin: 0 auto;
    max-width: 680px;
  }
}
@media screen and (min-width: 1920px) {
  .iceberg__text {
    margin-left: auto;
    margin-right: 314px;
  }
}

.space {
  padding-top: 70px;
  padding-bottom: 70px;
  background: url("../img/space-bg.png") no-repeat 50% 0;
  background-size: auto 1271px;
  position: relative;
  overflow: hidden;
}
@media screen and (min-width: 1920px) {
  .space {
    padding-top: 195px;
  }
}

.space__title {
  margin: 0 auto 85px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .space__title {
    padding-left: 100px;
    padding-right: 50px;
    text-align: left;
  }
}
@media screen and (min-width: 1920px) {
  .space__title {
    padding-left: 50px;
    max-width: 556px;
    margin: 0 auto 85px 284px;
  }
}

.space__notice {
  width: 566px;
  padding: 30px 250px 30px 20px;
  box-sizing: border-box;
  background: url("../img/space-notice.png") no-repeat 0 50%;
  background-size: 866px auto;
  font-size: 2.8rem;
  line-height: 1.46;
  color: #000;
  margin-right: 20px;
  margin-bottom: 153px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .space__notice {
    width: 866px;
    margin-left: auto;
    margin-right: 200px;
    padding: 39px 142px 47px 31px;
    border-radius: 30px;
  }
}
@media screen and (min-width: 1920px) {
  .space__notice {
    margin-left: 439px;
    margin-right: 0;
  }
}
.space__notice:after {
  content: "";
  position: absolute;
  width: 373px;
  height: 352px;
  top: -13px;
  right: 0;
  background: url("../img/space-people.png") no-repeat;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .space__notice:after {
    width: 1119px;
    height: 1056px;
    top: -450px;
    left: 192px;
    right: unset;
  }
}
@media screen and (min-width: 1920px) {
  .space__notice:after {
    left: 347px;
  }
}

.space__btn {
  margin-left: -87px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .space__btn {
    margin-left: 176px;
    margin-bottom: 230px;
  }
}
@media screen and (min-width: 1920px) {
  .space__btn {
    margin-left: 295px;
  }
}

.chains__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  animation: slider-anim2 20s infinite ease;
  left: -10px;
}
@media screen and (min-width: 768px) {
  .chains__list {
    position: static;
    animation: unset;
    left: 0;
  }
}

@keyframes slider-anim2 {
  0% {
    left: -10px;
  }
  20% {
    left: -273px;
  }
  40% {
    left: -615px;
  }
  60% {
    left: -863px;
  }
  80% {
    left: -273px;
  }
  100% {
    left: -10px;
  }
}
.chains__item {
  text-align: center;
  background: url("../img/chains-bg.png") no-repeat 0 0;
  position: relative;
  flex-shrink: 0;
  font-size: 4rem;
  line-height: 1.2;
  transform: scale(0.5);
}
@media screen and (min-width: 768px) {
  .chains__item {
    transform: scale(0.75);
    font-size: 3rem;
  }
}
@media screen and (min-width: 1920px) {
  .chains__item {
    transform: none;
  }
}
.chains__item:before {
  content: "";
  position: absolute;
  width: 236px;
  height: 87px;
  background: url("../img/chains-detail.png") no-repeat;
  z-index: 2;
  transform: translate(-100%, -50%);
  top: 50%;
}
.chains__item:after {
  content: "";
  position: absolute;
  width: 756px;
  height: 308px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../img/chains-bg.png") no-repeat;
}
.chains__item:nth-child(1) {
  width: 350px;
  margin-right: -68px;
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  .chains__item:nth-child(1) {
    margin-right: 92px;
    margin-left: 100px;
  }
}
@media screen and (min-width: 1920px) {
  .chains__item:nth-child(1) {
    margin-right: 242px;
    margin-left: 130px;
  }
}
.chains__item:nth-child(1):before {
  left: -51px;
}
.chains__item:nth-child(1):after {
  right: -133px;
}
.chains__item:nth-child(2) {
  width: 444px;
  margin-right: -64px;
}
@media screen and (min-width: 768px) {
  .chains__item:nth-child(2) {
    margin-right: 102px;
  }
}
@media screen and (min-width: 1920px) {
  .chains__item:nth-child(2) {
    margin-right: 257px;
  }
}
.chains__item:nth-child(2):before {
  left: -30px;
}
.chains__item:nth-child(2):after {
  right: -100px;
}
.chains__item:nth-child(3) {
  width: 337px;
  margin-right: -10px;
}
@media screen and (min-width: 1920px) {
  .chains__item:nth-child(3) {
    margin-right: 295px;
  }
}
.chains__item:nth-child(3):before {
  left: -77px;
}
.chains__item:nth-child(3):after {
  right: -140px;
}
.chains__item:nth-child(4) {
  width: 342px;
}
.chains__item:nth-child(4):before {
  left: -77px;
}
.chains__item:nth-child(4):after {
  right: -145px;
}

.chains__text {
  position: relative;
  z-index: 1;
}

.bonfire {
  padding-top: 153px;
  background: url("../img/bonfire-bg-1.png") no-repeat 0 0, url("../img/bonfire-bg-2.png") no-repeat right 111px;
  overflow: hidden;
}

.bonfire__title {
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 80px;
  text-align: center;
}
.bonfire__title span {
  color: inherit;
}
@media screen and (min-width: 768px) {
  .bonfire__title {
    padding-left: 50px;
    padding-right: 50px;
  }
  .bonfire__title span {
    color: #CE0000;
  }
}
@media screen and (min-width: 1920px) {
  .bonfire__title {
    margin-left: 395px;
    margin-bottom: 110px;
    padding: 0;
    text-align: left;
  }
}

.bonfire__right-hidden {
  display: block;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .bonfire__right-hidden {
    display: none;
  }
}

.bonfire__title-label {
  display: none;
}
@media screen and (min-width: 768px) {
  .bonfire__title-label {
    max-width: 813px;
    font-size: 3.3rem;
    line-height: 1.18;
    position: relative;
    margin-left: 120px;
    padding-right: 50px;
    margin-bottom: 10px;
    display: block;
  }
}
@media screen and (min-width: 1920px) {
  .bonfire__title-label {
    margin-bottom: 187px;
    margin-left: 538px;
    padding: 0;
  }
}
.bonfire__title-label:before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: 0;
  left: -35px;
  transform: translateX(-100%);
  background: url("../img/bonfire-title-label-detail.png") no-repeat;
}

.bonfire__inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 1350px) {
  .bonfire__inner {
    margin-left: 45px;
    flex-direction: row;
    align-items: baseline;
  }
}

.bonfire__night {
  max-width: 866px;
  box-sizing: border-box;
  padding: 30px 20px 30px 20px;
  font-size: 2.8rem;
  line-height: 1.42;
  color: #000;
  background: url("../img/space-notice.png") no-repeat 0 50%;
  background-size: 866px auto;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 30px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .bonfire__night {
    width: 973px;
    max-width: initial;
    transform: scale(0.75);
    background: url("../img/bonfire-night-bg.png") no-repeat;
    background-size: auto;
    padding: 126px 93px 153px 409px;
    border-radius: 0;
    margin-right: 200px;
  }
}
@media screen and (min-width: 1350px) {
  .bonfire__night {
    margin-right: 0;
  }
}
@media screen and (min-width: 1920px) {
  .bonfire__night {
    transform: none;
    margin-right: 250px;
    margin-bottom: 137px;
  }
}
@media screen and (min-width: 768px) {
  .bonfire__night:before {
    content: "";
    position: absolute;
    background: url("../img/bonfire-night-sticker.png") no-repeat;
    width: 338px;
    height: 267px;
    top: 96px;
    left: 44px;
    transform: none;
  }
}

.bonfire__call {
  font-family: "Resident Evil 7(RUS BY LYAJKA)", Arial, open-sans;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .bonfire__call {
    margin-left: 400px;
    margin-right: unset;
  }
}
@media screen and (min-width: 1350px) {
  .bonfire__call {
    margin-left: 0;
  }
}
.bonfire__call span {
  display: block;
  text-align: left;
}
.bonfire__call span:nth-child(1) {
  font-size: 4.4rem;
  line-height: 1.18;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .bonfire__call span:nth-child(1) {
    margin-bottom: 0;
  }
}
.bonfire__call span:nth-child(2) {
  font-size: 17.9rem;
  line-height: 1;
  margin-top: -20px;
}
.bonfire__call span:nth-child(3) {
  font-size: 6rem;
  line-height: 1.2;
  text-align: right;
  padding-right: 10px;
  margin-top: -10px;
}
@media screen and (min-width: 768px) {
  .bonfire__call span:nth-child(3) {
    margin-top: -35px;
  }
}

.disease {
  padding: 100px 20px 50px 20px;
  position: relative;
  overflow: hidden;
  background: url("../img/disease-bg.png") no-repeat 50% 67px;
  background-size: auto 1705px;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .disease {
    padding: 308px 50px 150px 50px;
  }
}
@media screen and (min-width: 1920px) {
  .disease {
    padding: 308px 0 332px 348px;
  }
}

.disease__title {
  max-width: 1130px;
  text-align: center;
  margin: 0 auto 50px;
}
@media screen and (min-width: 768px) {
  .disease__title {
    margin-bottom: 154px;
  }
}
@media screen and (min-width: 1920px) {
  .disease__title {
    text-align: left;
    margin: 0 0 154px;
  }
}

.disease__title-label {
  font-size: 3.3rem;
  line-height: 1.18;
  max-width: 885px;
  margin-left: 150px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .disease__title-label {
    margin-bottom: 130px;
  }
}
@media screen and (min-width: 1920px) {
  .disease__title-label {
    margin-left: 102px;
    margin-bottom: 107px;
  }
}

.disease__hidden {
  display: none;
}
@media screen and (min-width: 768px) {
  .disease__hidden {
    display: block;
  }
}

.disease__hidden-text {
  position: relative;
  margin-bottom: 80px;
  width: 168px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .disease__hidden-text {
    padding-left: 228px;
    margin-left: -43px;
    width: auto;
    margin-bottom: 132px;
  }
}
.disease__hidden-text:before {
  content: "";
  position: absolute;
  width: 231px;
  height: 282px;
  top: -49px;
  right: 163px;
  background: url("../img/disease-hidden-detail.png") no-repeat;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .disease__hidden-text:before {
    width: 463px;
    height: 565px;
    top: -188px;
    left: -121px;
    background-size: unset;
  }
}

.disease__content {
  max-width: 916px;
  font-size: 2.8rem;
  line-height: 1.46;
  color: #000;
  padding: 30px 20px;
  box-sizing: border-box;
  background: url("../img/disease-content-bg.png") no-repeat 0 50%;
  background-size: 916px auto;
  border-radius: 30px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .disease__content {
    padding: 50px 140px 52px 40px;
    margin-right: 200px;
    margin-left: auto;
  }
}
@media screen and (min-width: 1920px) {
  .disease__content {
    margin-left: 334px;
    margin-right: 0;
  }
}
.disease__content:after {
  content: "";
  position: absolute;
  width: 574px;
  height: 999px;
  top: -347px;
  left: 661px;
  background: url("../img/disease-people.png") no-repeat;
}

.modules {
  position: relative;
  padding-bottom: 370px;
}
.modules:before {
  content: "";
  position: absolute;
  width: 1225px;
  height: 1517px;
  top: -775px;
  left: 0;
  background: url("../img/disease-meteors.png") no-repeat;
  z-index: 1;
}

.modules__inner {
  position: relative;
  z-index: 2;
}

.modules__title {
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .modules__title {
    margin-bottom: 130px;
  }
}

.modules__columns {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: flex-start;
  align-items: center;
}
@media screen and (min-width: 1080px) {
  .modules__columns {
    margin-left: 20px;
    margin-right: 20px;
    flex-direction: row;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1920px) {
  .modules__columns {
    margin-left: 140px;
    margin-right: 50px;
  }
}

.module {
  max-width: 590px;
  margin-top: 9px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
@media screen and (min-width: 1080px) {
  .module {
    max-width: 696px;
    margin-right: 30px;
    align-items: flex-start;
    flex-shrink: 2;
  }
}
@media screen and (min-width: 1920px) {
  .module {
    margin-right: 93px;
    flex-shrink: unset;
  }
}

@media screen and (min-width: 1080px) {
  .module__content {
    flex-shrink: 1;
  }
}
@media screen and (min-width: 1920px) {
  .module__content {
    flex-shrink: unset;
  }
}

.module__item {
  margin-bottom: 12px;
  width: calc(100% / 2 - 12px);
}

.module__btn {
  font-size: 1rem;
  width: 100%;
  height: 100%;
  padding-top: 4.5em;
  padding-bottom: 3.5em;
  box-sizing: border-box;
  text-align: center;
  border-radius: 17px;
  background: #2F2F2F;
  cursor: pointer;
}
.module__btn:not(.too):hover, .module__btn.active {
  background: url("../img/module-active.png") no-repeat;
}
.module__btn:not(.too):hover .module__name, .module__btn.active .module__name {
  color: #F33030;
}
.module__btn:not(.too):hover .module__label, .module__btn.active .module__label {
  color: #000001;
}

.too {
  display: block;
  text-decoration: none;
  background: url("../img/module-too.png") no-repeat;
}
@media screen and (min-width: 1920px) {
  .too {
    padding-top: 47px;
  }
}
.too .module__name {
  color: #F33030;
}
.too .module__label {
  color: #000001;
}

.module__name {
  display: block;
  font-family: "Resident Evil 7(RUS BY LYAJKA)", Arial, open-sans;
  font-size: 5.6rem;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
}

.module__label {
  display: block;
  font-size: 2.3rem;
  font-weight: 27px;
  color: #fff;
}

.modules__text {
  color: #fff;
  font-size: 2.8rem;
  line-height: 1.39;
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media screen and (min-width: 1920px) {
  .modules__text {
    position: absolute;
  }
}
.modules__text.active {
  display: block;
}
.modules__text--1 {
  max-width: 645px;
}
.modules__text--1:after {
  position: absolute;
  width: 226px;
  height: 305px;
  bottom: -310px;
  right: 0;
  background: url("../img/modules-text-detail-1.png") no-repeat;
}
@media screen and (min-width: 768px) {
  .modules__text--1:after {
    content: "";
  }
}
@media screen and (min-width: 1920px) {
  .modules__text--1:after {
    top: 345px;
    right: -291px;
  }
}
.modules__text--2 {
  max-width: 708px;
}
.modules__text--2:after {
  position: absolute;
  width: 271px;
  height: 296px;
  bottom: -310px;
  right: 0;
  background: url("../img/modules-text-detail-2.png") no-repeat;
}
@media screen and (min-width: 768px) {
  .modules__text--2:after {
    content: "";
  }
}
@media screen and (min-width: 1920px) {
  .modules__text--2:after {
    top: 360px;
    right: -223px;
  }
}
.modules__text--3 {
  max-width: 830px;
}
.modules__text--3:after {
  position: absolute;
  width: 280px;
  height: 290px;
  bottom: -310px;
  right: 0;
  background: url("../img/modules-text-detail-3.png") no-repeat;
}
@media screen and (min-width: 768px) {
  .modules__text--3:after {
    content: "";
  }
}
@media screen and (min-width: 1920px) {
  .modules__text--3:after {
    top: 366px;
    right: -103px;
  }
}
.modules__text--4 {
  max-width: 785px;
}
.modules__text--4:after {
  position: absolute;
  width: 294px;
  height: 306px;
  bottom: -310px;
  right: 0;
  background: url("../img/modules-text-detail-4.png") no-repeat;
}
@media screen and (min-width: 768px) {
  .modules__text--4:after {
    content: "";
  }
}
@media screen and (min-width: 1920px) {
  .modules__text--4:after {
    top: 413px;
    right: -171px;
  }
}
.modules__text--5 {
  max-width: 772px;
}
.modules__text--5:after {
  position: absolute;
  width: 269px;
  height: 245px;
  bottom: -250px;
  right: 0;
  background: url("../img/modules-text-detail-5.png") no-repeat;
}
@media screen and (min-width: 768px) {
  .modules__text--5:after {
    content: "";
  }
}
@media screen and (min-width: 1920px) {
  .modules__text--5:after {
    top: 399px;
    right: -165px;
  }
}
.modules__text--6 {
  max-width: 835px;
}
.modules__text--6:after {
  position: absolute;
  width: 245px;
  height: 344px;
  bottom: -355px;
  right: 0;
  background: url("../img/modules-text-detail-6.png") no-repeat;
}
@media screen and (min-width: 768px) {
  .modules__text--6:after {
    content: "";
  }
}
@media screen and (min-width: 1920px) {
  .modules__text--6:after {
    top: 399px;
    right: -120px;
  }
}
.modules__text--7 {
  max-width: 784px;
}
.modules__text--7:after {
  position: absolute;
  width: 178px;
  height: 209px;
  bottom: -250px;
  right: 0;
  background: url("../img/modules-text-detail-7.png") no-repeat;
}
@media screen and (min-width: 768px) {
  .modules__text--7:after {
    content: "";
  }
}
@media screen and (min-width: 1920px) {
  .modules__text--7:after {
    top: 399px;
    right: -155px;
  }
}

.modules__subtitle {
  display: block;
  font-family: "Resident Evil 7(RUS BY LYAJKA)", Arial, open-sans;
  text-transform: uppercase;
}
.modules__subtitle--top {
  font-size: 7.9rem;
  line-height: 1;
}
.modules__subtitle--top span {
  color: #F32A2A;
}
.modules__subtitle--bottom {
  font-size: 5.6rem;
  color: #F32A2A;
}

.fetter {
  margin-top: -448px;
  background: url("../img/fetter-smoke.png") no-repeat right 317px, url("../img/fetter-bg.png") no-repeat 50% top;
  background-size: auto, auto 1399px;
  position: relative;
}
.fetter:before {
  position: absolute;
  width: 527px;
  height: 1369px;
  top: -145px;
  right: 0;
  background: url("../img/fetter-detail.png") no-repeat;
}
@media screen and (min-width: 768px) {
  .fetter:before {
    content: "";
  }
}

.fetter__inner {
  padding-left: 55px;
  padding-bottom: 50px;
  padding-top: 150px;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .fetter__inner {
    padding-left: 115px;
    padding-top: 448px;
    padding-bottom: 290px;
  }
}
@media screen and (min-width: 1920px) {
  .fetter__inner {
    padding-left: 302px;
  }
}

.fetter__title {
  margin-bottom: 50px;
  padding-right: 20px;
}
.fetter__title span {
  color: inherit;
}
@media screen and (min-width: 768px) {
  .fetter__title {
    padding-right: 50px;
    margin-bottom: 140px;
  }
  .fetter__title span {
    color: #CE0000;
  }
}
@media screen and (min-width: 1920px) {
  .fetter__title {
    padding-right: 0;
  }
}

.fetter__label {
  display: block;
  font-size: 2.8rem;
  line-height: 3.39;
  margin-left: 625px;
  margin-bottom: 35px;
}

@media screen and (min-width: 768px) {
  .fetter__button {
    margin-left: 60px;
  }
}
@media screen and (min-width: 1920px) {
  .fetter__button {
    margin-left: 0;
  }
}

.fetter__column {
  font-size: 3.3rem;
  line-height: 1.36;
  max-width: 766px;
  position: relative;
  padding-right: 20px;
  padding-bottom: 500px;
}
@media screen and (min-width: 768px) {
  .fetter__column {
    padding-right: 50px;
    margin-bottom: 150px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1920px) {
  .fetter__column {
    padding-right: 0;
    margin-bottom: 223px;
  }
}
.fetter__column:after {
  content: "";
  position: absolute;
  width: 307px;
  height: 409px;
  bottom: 70px;
  left: 50%;
  transform: translateX(-50%);
  background: url("../img/fetter-people.png") no-repeat;
  z-index: 0;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .fetter__column:after {
    width: 922px;
    height: 1227px;
    top: -126px;
    bottom: unset;
    transform: none;
    left: 678px;
    background-size: unset;
  }
}

.fetter__text {
  margin-bottom: 45px;
  position: relative;
  z-index: 1;
}
.fetter__text:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: -15px;
  transform: translateX(-100%);
  background: url("../img/bonfire-title-label-detail.png") no-repeat;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .fetter__text:before {
    left: -35px;
    width: 48px;
    height: 48px;
    background-size: unset;
  }
}

.compare {
  background: url("../img/compare-bg.png") no-repeat 50% bottom;
  background-size: auto 1176px;
  position: relative;
  z-index: 1;
}
.compare:before {
  position: absolute;
  width: 514px;
  height: 1369px;
  top: -828px;
  left: 0;
  background: url("../img/compare-detail-1.png") no-repeat;
}
@media screen and (min-width: 768px) {
  .compare:before {
    content: "";
  }
}

.compare__inner {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 280px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .compare__inner {
    padding-left: 75px;
    padding-right: 50px;
  }
}
@media screen and (min-width: 1920px) {
  .compare__inner {
    padding-left: 150px;
    padding-right: 150px;
  }
}

.compare__title {
  text-align: center;
  line-height: 1;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .compare__title {
    margin-bottom: 0;
  }
}

.compare__subtitle {
  display: block;
  text-align: center;
  margin-bottom: 50px;
  margin-top: -10px;
}
@media screen and (min-width: 768px) {
  .compare__subtitle {
    margin-bottom: 135px;
  }
}

.compare__columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.compare__columns.tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .compare__columns.tablet {
    display: flex;
  }
}
.compare__columns.mobile {
  display: flex;
}
@media screen and (min-width: 768px) {
  .compare__columns.mobile {
    display: none;
  }
}

.compare__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: stretch;
  flex-wrap: wrap;
  font-size: 3.2rem;
  line-height: 1;
}
.compare__list.mobile {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
}

.compare__column-title {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .compare__column-title {
    margin-bottom: 0;
  }
}

.compare__item {
  width: 100%;
  margin-bottom: 50px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .compare__item {
    width: 45%;
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .compare__item:nth-child(odd) {
    max-width: 603px;
  }
}
.compare__item:nth-child(odd):nth-child(2n+3):before {
  content: "";
  position: absolute;
  left: -50px;
  top: -16px;
  width: calc(100% + 100px);
  height: 2px;
  background: #2f2f2f;
}
@media screen and (min-width: 768px) {
  .compare__item:nth-child(odd):nth-child(2n+3):before {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .compare__item:nth-child(odd) {
    margin-right: 50px;
  }
  .compare__item:nth-child(odd):nth-child(2n+5):before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: -16px;
    width: 1603px;
    height: 2px;
    background: #2f2f2f;
  }
}
@media screen and (min-width: 768px) {
  .compare__item:nth-child(even) {
    max-width: 680px;
  }
}
.compare__item:last-child {
  margin-bottom: 0;
}

.free {
  padding: 840px 20px 100px;
  margin-top: -754px;
  background: url("../img/fire-bg.png") no-repeat 50% bottom;
  background-size: auto 3144px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .free {
    padding: 754px 50px 355px;
  }
}
@media screen and (min-width: 1920px) {
  .free {
    padding: 754px 198px 355px 178px;
  }
}
.free:after {
  content: "";
  position: absolute;
  top: 454px;
  right: 46px;
  width: 508px;
  height: 331px;
  background: url("../img/free-detail.png") no-repeat;
}
@media screen and (min-width: 1920px) {
  .free:after {
    top: 524px;
  }
}

.free__title {
  text-align: center;
  margin-bottom: 64px;
}

.free__btn {
  width: 147px;
  height: 55px;
  font-size: 28px;
  line-height: 1.06;
  transform: none;
  margin: 0 auto;
}
.free__btn .btn__inner {
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .free__btn .btn__inner {
    background-size: unset;
  }
}
@media screen and (min-width: 768px) {
  .free__btn {
    width: 363px;
    height: 115px;
    font-size: 74px;
    line-height: 1.06;
    transform: scale(0.75);
    margin: 0;
  }
}

.free__columns {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.free__columns.mobile {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .free__columns.mobile {
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (min-width: 768px) {
  .free__columns.mobile {
    display: none;
  }
}
.free__columns.tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .free__columns.tablet {
    display: flex;
  }
}

.free__list {
  max-width: 621px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.88);
  padding-top: 50px;
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .free__list {
    margin-right: 57px;
    padding-top: 220px;
    padding-bottom: 170px;
  }
}

.free__list-item {
  margin-bottom: 45px;
  position: relative;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .free__list-item {
    text-align: left;
  }
}
.free__list-item.ok-first:before {
  content: "";
  position: absolute;
  width: 77px;
  height: 57px;
  right: -220px;
  top: 50%;
  transform: translate(100%, -50%);
  background: url("../img/free-ok.png") no-repeat;
}
.free__list-item.ok-second:after {
  content: "";
  position: absolute;
  width: 77px;
  height: 57px;
  right: -655px;
  top: 50%;
  transform: translate(100%, -50%);
  background: url("../img/free-ok.png") no-repeat;
}
.free__list-item.no-first:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  right: -230px;
  top: 50%;
  transform: translate(100%, -50%);
  background: url("../img/free-no.png") no-repeat;
}
.free__list-item.no-second:after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  right: -665px;
  top: 50%;
  transform: translate(100%, -50%);
  background: url("../img/free-no.png") no-repeat;
}
.free__list-item:not(:last-child) .free__item-text:after {
  content: "";
  position: absolute;
  width: calc(100% + 180px);
  height: 1px;
  left: -90px;
  bottom: -20px;
  background: rgba(255, 255, 255, 0.5);
}
@media screen and (min-width: 768px) {
  .free__list-item:not(:last-child) .free__item-text:after {
    width: 1537px;
    left: 0;
  }
}

.free__item-name {
  font-weight: bold;
  font-size: 3.4rem;
}

.free__item-text {
  font-size: 2.8rem;
  position: relative;
}

.free__column {
  border-radius: 20px;
  padding: 33px 20px 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .free__column {
    width: 412px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 33px 0 23px;
  }
}
.free__column--red {
  margin-bottom: 50px;
  background: #C02B2B;
}
@media screen and (min-width: 768px) {
  .free__column--red {
    margin-right: 30px;
    margin-bottom: 0;
  }
}
.free__column--red .free__column-label {
  max-width: 304px;
}
.free__column--blue {
  background: #292A96;
}
.free__column--blue .free__column-label {
  max-width: 350px;
}

.free__column-name {
  font-family: "Resident Evil 7(RUS BY LYAJKA)", Arial, open-sans;
  display: block;
  text-align: center;
  font-size: 6.7rem;
  line-height: 1.2;
  text-transform: uppercase;
}

.free__column-label {
  display: block;
  font-size: 2.3rem;
  line-height: 1.47;
  text-align: center;
}

.free__column-price {
  display: block;
  text-align: center;
  font-family: "Godzilla", Arial, open-sans;
  font-size: 4.9rem;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.witcher {
  padding: 80px 20px 160px;
  margin-top: -117px;
  background: url("../img/witcher-bg.png") no-repeat right 0;
  background-size: auto 1572px;
}
@media screen and (min-width: 768px) {
  .witcher {
    padding: 157px 50px 160px;
  }
}
@media screen and (min-width: 1920px) {
  .witcher {
    padding-left: 0;
    padding-right: 0;
  }
}

.witcher__title {
  text-align: center;
  margin-bottom: 130px;
}
.witcher__title.tablet {
  display: none;
}
@media screen and (min-width: 768px) {
  .witcher__title.tablet {
    display: block;
    margin-bottom: 130px;
  }
}
.witcher__title.mobile {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .witcher__title.mobile {
    display: none;
  }
}

.witcher__module {
  max-width: 980px;
  margin-left: auto;
  box-sizing: border-box;
  padding: 20px;
  background: url("../img/witcher-module-bg.png") no-repeat 0 50%;
  background-size: 980px auto;
  color: #000;
  margin-bottom: 100px;
  position: relative;
  border-radius: 30px;
  display: none;
}
@media screen and (min-width: 768px) {
  .witcher__module {
    padding: 50px;
    margin-bottom: 160px;
    display: block;
  }
}
@media screen and (min-width: 1920px) {
  .witcher__module {
    padding: 40px 101px 65px 44px;
    margin-left: 559px;
  }
}
.witcher__module:after {
  content: "";
  position: absolute;
  width: 855px;
  height: 528px;
  bottom: -78px;
  left: 271px;
  background: url("../img/witcher-module-bg-2.png") no-repeat;
  z-index: 1;
}

.witcher__module-inner {
  position: relative;
  z-index: 2;
}

.witcher__module-title {
  font-family: "Resident Evil 7(RUS BY LYAJKA)", Arial, open-sans;
  display: block;
  font-size: 5.6rem;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.witcher__module-title span {
  color: #F32A2A;
}

.witcher__module-text {
  font-size: 2.8rem;
  line-height: 1.42;
  text-align: center;
}
.witcher__module-text.mobile {
  position: relative;
  padding-bottom: 605px;
}
.witcher__module-text.mobile:after {
  content: "";
  position: absolute;
  width: 673px;
  height: 600px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background: url("../img/mobile-witcher.png") no-repeat;
}
@media screen and (min-width: 768px) {
  .witcher__module-text.mobile {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .witcher__module-text {
    text-align: left;
  }
}

.witcher__about {
  margin-left: 0;
  padding-left: 220px;
  max-width: 450px;
  position: relative;
  margin-bottom: 175px;
  display: none;
}
@media screen and (min-width: 768px) {
  .witcher__about {
    padding-left: 310px;
    margin-bottom: 122px;
    display: block;
  }
}
@media screen and (min-width: 1920px) {
  .witcher__about {
    margin-left: 145px;
    padding-left: 393px;
  }
}
.witcher__about:before {
  content: "";
  position: absolute;
  width: 413px;
  height: 396px;
  top: -139px;
  left: -102px;
  background: url("../img/witcher-about-face.png") no-repeat;
  transform: scale(0.5);
}
@media screen and (min-width: 768px) {
  .witcher__about:before {
    transform: scale(0.75);
    left: -54px;
  }
}
@media screen and (min-width: 1920px) {
  .witcher__about:before {
    transform: none;
    left: 0;
  }
}

.witcher__about-text {
  font-size: 2.8rem;
  line-height: 1.42;
}

.witcher__bonus {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: 0;
  margin-top: 80px;
}
@media screen and (min-width: 768px) {
  .witcher__bonus {
    margin-top: 0;
  }
}
@media screen and (min-width: 1920px) {
  .witcher__bonus {
    margin-left: 140px;
    flex-wrap: nowrap;
  }
}

.witcher__bonus-take {
  width: 428px;
}
@media screen and (min-width: 768px) {
  .witcher__bonus-take {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1920px) {
  .witcher__bonus-take {
    margin-top: 0;
  }
}

.witcher__btn {
  margin-bottom: -25px;
  margin-left: -107px;
}
@media screen and (min-width: 768px) {
  .witcher__btn {
    margin-bottom: 8px;
    margin-left: -53px;
  }
}
.witcher__btn:before {
  display: none;
}
.witcher__btn:after {
  display: none;
}

.witcher__bonus-timer {
  font-size: 3.4rem;
  line-height: 1.17;
  font-weight: bold;
  display: block;
  text-align: left;
}
@media screen and (min-width: 1920px) {
  .witcher__bonus-timer {
    text-align: center;
  }
}

.witcher__bonus-take {
  margin-top: 15px;
  margin-right: 53px;
}

.witcher__bonus-conditions {
  width: 850px;
  font-size: 2.8rem;
  line-height: 1.42;
  margin-top: 50px;
  display: none;
}
@media screen and (min-width: 768px) {
  .witcher__bonus-conditions {
    margin-top: 0;
    display: block;
  }
}
.bridges {
  padding: 50px 20px 71px 20px;
  background: url("../img/bridges-bg.png") no-repeat 50% 0;
  background-size: auto 1215px;
}
@media screen and (min-width: 768px) {
  .bridges {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 180px;
    margin-top: -160px;
  }
}
@media screen and (min-width: 1920px) {
  .bridges {
    padding-top: 272px;
    padding-left: 140px;
    padding-right: 192px;
  }
}

.bridges__title {
  max-width: 590px;
  margin: 0 auto 50px;
  text-align: center;
}
@media screen and (min-width: 1920px) {
  .bridges__title {
    margin: 0 auto 92px;
  }
}

.bridges__columns {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media screen and (min-width: 1080px) {
  .bridges__columns {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.bridges__button {
  margin-top: -40px;
}

.bridges__text {
  font-size: 2.8rem;
  line-height: 1.42;
  margin-bottom: 40px;
  font-weight: bold;
}
.bridges__text span {
  color: #B40000;
}
.bridges__text:nth-child(1) {
  max-width: 700px;
}
.bridges__text:nth-child(2) {
  max-width: 616px;
  margin-bottom: 0;
}
@media screen and (min-width: 1920px) {
  .bridges__text:nth-child(2) {
    margin-bottom: 120px;
  }
}

.bridges__video {
  margin-top: 77px;
  margin-bottom: 100px;
}
@media screen and (min-width: 1080px) {
  .bridges__video {
    margin-bottom: 0;
  }
}

.bridges__content {
  border-radius: 35px;
  width: 100%;
  max-width: 600px;
}

.tinkoff {
  background: #000 url("../img/tinkoff-bg-tablet.png") no-repeat -180px 0;
  padding: 25px 20px 225px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .tinkoff {
    padding: 25px 45px 115px;
  }
}
@media screen and (min-width: 850px) {
  .tinkoff {
    background: #000 url("../img/tinkoff-bg-tablet.png") no-repeat 0 0;
  }
}
@media screen and (min-width: 1080px) {
  .tinkoff {
    background: #000 url("../img/tinkoff-bg-desktop.png") no-repeat 0 0;
    background-size: 100% auto;
  }
}
@media screen and (min-width: 1920px) {
  .tinkoff {
    padding-bottom: 205px;
  }
}
.tinkoff:before {
  content: "";
  position: absolute;
  width: 370px;
  height: 242px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: url("../img/tinkoff-fire-mobile.png") no-repeat;
}
@media screen and (min-width: 768px) {
  .tinkoff:before {
    width: 753px;
    height: 505px;
    bottom: 0;
    left: auto;
    right: 0;
    transform: none;
    background: url("../img/tinkoff-fire-tablet.png") no-repeat;
  }
}
@media screen and (min-width: 1920px) {
  .tinkoff:before {
    width: 1333px;
    height: 884px;
    background: url("../img/tinkoff-fire-desktop.png") no-repeat;
  }
}
.tinkoff:after {
  content: "";
  position: absolute;
  width: 305px;
  height: 232px;
  bottom: 0;
  left: 54%;
  transform: translateX(-50%);
  background: url("../img/tinkoff-doctor-mobile.png") no-repeat;
}
@media screen and (min-width: 768px) {
  .tinkoff:after {
    width: 448px;
    height: 471px;
    bottom: 0;
    left: auto;
    right: 8px;
    transform: none;
    background: url("../img/tinkoff-doctor-tablet.png") no-repeat;
  }
}
@media screen and (min-width: 1920px) {
  .tinkoff:after {
    width: 732px;
    height: 798px;
    background: url("../img/tinkoff-doctor-desktop.png") no-repeat;
  }
}

.tinkoff__title {
  text-align: center;
  font-size: 41px;
  line-height: 1;
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .tinkoff__title {
    font-size: 58px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 1920px) {
  .tinkoff__title {
    font-size: 101px;
  }
}

.tinkoff__subtitle {
  display: block;
  text-align: center;
  font-size: 14px;
  line-height: 27px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .tinkoff__subtitle {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 100px;
  }
}
@media screen and (min-width: 1920px) {
  .tinkoff__subtitle {
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 170px;
  }
}
.tinkoff__subtitle span {
  color: #e5102e;
}

.tinkoff__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 35px;
}
@media screen and (min-width: 768px) {
  .tinkoff__content {
    display: inline-flex;
    margin: 0;
    margin-right: 375px;
  }
}

.tinkoff__label {
  display: block;
  text-transform: uppercase;
  font-family: "Resident Evil 7(RUS BY LYAJKA)", Arial, open-sans;
  font-size: 16px;
  line-height: 1;
  margin: 0 auto 5px;
  letter-spacing: 1.5px;
  order: 2;
}
.tinkoff__label span {
  color: #ff0b28;
}
@media screen and (min-width: 768px) {
  .tinkoff__label {
    font-size: 23px;
    order: unset;
  }
}
@media screen and (min-width: 1920px) {
  .tinkoff__label {
    font-size: 41px;
  }
}

.tinkoff__video {
  border-radius: 35px;
  width: 100%;
  max-width: 350px;
  margin-bottom: 10px;
  order: 1;
}
@media screen and (min-width: 768px) {
  .tinkoff__video {
    max-width: 610px;
    order: unset;
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
